* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.clearfix:after {
	content: "";
	display: block;
	clear: both;
}

.header-box {
	width: 960px;
	height: 392px;
	margin: 50px auto;
}

.list {
	width: 960px;
	height: 56px;
	line-height: 56px;
	padding-left: 20px;
	color: gray;
}

.list:nth-child(odd) {
	background-color: #EEEEEE;
}

.main-box {
	width: 960px;
	height: 680px;
	margin : 0 auto;
	margin-bottom: 50px;
}

.box {
	width: 30%;
	height: 200px;
	float: left;
	background-color: #FFD700;
}

.box:not(:nth-child(3n)) {
	margin-right: 5%;
}

.box:nth-child(4), .box:nth-child(5), .box:nth-child(6) {
	margin-top: 40px;
	margin-bottom: 40px;
}


.box:nth-child(1), .box:nth-child(5), .box:nth-child(9) {
	background-color: #FF6600;
}












